* {
    margin: 0; 
    padding: 0;
    list-style: none;
}

a { 
    width: 100%;
    color: #000;
    text-decoration: none; 
}

h1 {
    position: relative; 
    text-align: center;
    background-color: #D5E8D4;
    border: 1px solid #000;
}

.homeButton {
    float: left;
    height: 45px;
} 

ul {
    border: 1px solid #000;

}

ol li{
    position: relative; 
    background-color: #ffecc7;
    border: 1px solid #fac551;
    line-height: 30px;
}

ol li div:nth-child(2) {
    margin-left: 60%;
}

ol li div:nth-child(1) {
    margin-left: 10%;
    float:left;
} 
