* {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.tab {
    text-align: center;
    width : 100%;
}

.tab_header ul li{
    line-height: 45px;
    float: left;
    width: calc((100% - 4px) / 3);
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}

.tab_header ul li.selected{
    font-weight: bolder;
    background-color: #ffecc7;
 }

.tab_header ul li:last-child {
    border-right: 1px solid #000;
 }

.tab_header ul li:hover {
    font-weight: bolder;
    color: #000;
 } 

.tab_content input{
    width: 30%;
    height: 25px;
}

.tab_content ul li{
    margin-top: 5%;
    line-height: 50px;
    background-color: #ffecc7;
    border: 1px solid #fac551;
}

.changeButton {
    position: relative;
    margin-top: 5%;
    width: 60px;
    height: 40px;
    background-color: #4daff9;
    border: 1px solid #008cff;
    border-radius: 20%;
}

.changeButton:hover {
    font-weight: bolder;
 } 

 .changeButton:active{
    top: 1px;
 }