*{
    position: relative;
}
.info{
    text-align: center;
    width: 60%;
    height: 50vh;
    float: left;
    background-color: #D5E8D4;
}
.login {
    width: 20%;
    height: 50vh;
    float: left;
    background-color: #D5E8D4;
}

.fill{
    width: 10%;
    height: 50vh;
    float: left;
    background-color: #D5E8D4;
}

.img{
    width: 40%;
    height:50vh;
    float:left;
}

.fill2{
    width: 60%;
    height: 50vh;
    float: left;
    background-color: #D5E8D4;
}