<body>
    <div class="info">
        <h1>Welcome to Family Artifact App</h1>
        <p>
            This web application is designed by Do Not Move The Furniture.<br>
            It is designed to record the artifacts information.<br>
            For now it does not include access control.<br>
            When it does, everyone get to write their own stories about the artifacts they have.<br>
            We have created fake data to display what it should look like.<br>
            Thank you for your time.<br>
        </p>

    </div>
    <br>
    <div class="login">
        <app-login></app-login>
    </div>
</body>