
<div>
　　 <div class="all" >
        <div class="info">
            <img class="logo" src="../../assets/image/path4275-5-5.png">
            <h1>Welcome to Airloom</h1>
            <p> This web application was developeded by Do Not Move The Furniture.<br>
            It is designed to record the artifacts information.<br> 
            For now it does not include access control. <br>
            The intention, once this is implemented, is to allow for editting and viewing of artifacts by several users.<br>
            We have created fake data to display what it should look like. <br>
            Thank you for your time. </p>
        </div>
        <div class="login">
            <br>
            <app-login></app-login>
        </div>
        <div (mouseenter)="stopPlay()" (mouseleave)="autoPlay()">
            <ul [@carousel] = 'state' (@carousel.done)="afterPlay()">
                <img  class="img" src={{bannerPic[0].img}}>
            </ul>
        </div>
        
    </div>
        
</div>
