*{
    position: relative;
}
.info{
    width: 60%;
    height: 50vh;
    float: left;
    background-color: #D5E8D4;
    position: relative;
    left: 200px;
}
.login {
    width: 20%;
    height: 50vh;
    float: left;
    background-color: #D5E8D4;
}

.img{
    height: 60vh;
    width: 40vw;
    float:left;
    position: relative;
    top: -150px;
    left: 100px;
    object-fit: contain;
}

.all {
    background-color: #D5E8D4;
    display: block;
    height: 96vh;
    padding: 1vh;
}

.logo {
    width: 100px;
}