div{
    margin-left: auto;
    margin-right: auto;
    display: table;
    text-align: right;
}

.catagory{
    overflow: auto;
    display:table;
    margin-bottom: -15px;
    border-radius: 30px;
}