<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comment added</title>
    <link rel="stylesheet" href="/stylesheets/stylesheet2.css" type="text/css">
</head>
<body>
<h2><%=user.username%>, your commnet has been successfully added.</h2>
<a id="back" href='/story/<%=storyid%>'>Press here to go back to the story.</a>
</body>
</html>