<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Story added</title>
    <link rel="stylesheet" href="/stylesheets/stylesheet2.css" type="text/css">
</head>
<body>
    <h2>
        <%if (user) { %>
        <%=user.username%>,
        <% } %>
        Your story has been successfully added.
    </h2><br>
    <a id="back" href='/home'>Press here to go back to the home page.</a>
</body>
</html>