<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coming</title>
    <link rel="stylesheet" href="/stylesheets/stylesheet.css" type="text/css">
</head>
<body>
<div class="container">
    <h1>Do Not Move The Furniture</h1>
    <h2>Coming soon</h2>

</div>
<div class="author">
    <p>Group: DMTF</p>
    <p></p>
</div>
</body>
</html>