<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/stylesheet.css" type="text/css">
</head>

<body>
<div class="container">
    <form action="/search" method="post">
        <input placeholder="Search by story title" type="text" id="search" name="search">
    </form>
    <%if (user) { %>
    <div class="header">
        <a href="/logout">logout</a>
    </div>
    <h2>Welcome, <%=user.username%></h2>
    <div class="post">
        <a href="/post">POST YOUR STORY</a>
    </div>
    <% } else { %>
    <div class="header">
        <a href="/login">Login</a>/<a href="/signup">Sign up</a>
    </div>
    <% } %>

    <% if (stories) {%>
    <ul>
        <% var i; %>
        <% for (i = stories.length; i > stories.length - 10; i--){ %>
        <% if (stories[i]) { %>
        <br>
        <div class="list green-pattern">
            <a href="/story/<%=stories[i]._id%>"> <%=stories[i].title%> </a>
        </div>
        <% } %>
        <% } %>
    </ul>
    <% } %>
</div>

</body>

</html>