<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="stylesheet" href="/stylesheets/stylesheet2.css" type="text/css">
</head>
<body>
    <%if (user) { %>
    <h1>
        <%=user.username%>,
        POST YOUR STORY
    </h1>
    <form class="input" name="input" action="/addstory" method="post">
        <input id='title' type='text' name='title' placeholder='Title' required><br>
        <textarea id='story' type='text' name='story' placeholder='enter your story here' required></textarea><br>
        <input type="submit" value="Submit"><br>
    </form>
    <% }else{ %>
    <a  href='/login'>Please login first. Press Here To Login</a>
    <% } %>

</body>
</html>