<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sign Up</title>
        <link rel="stylesheet" href="/stylesheets/stylesheet.css" type="text/css">
    </head>

    <body>
    <div class="content">
        <form action = "/adduser" method="post">
            <h3>Sign Up</h3><br>
            <div class = 'input'>
                <input id="username" type="text" name="username" placeholder="Username" required><br>
                <input id="email" type="text" name="email" placeholder="Email" required><br>
                <input id="password" type="password" name="password" placeholder="Enter Password" required><br>
                <select id="gender" type="text" name="gender" required>
                    <option> male </option>
                    <option> female </option>
                </select><br>
                <input id="submit" type="submit" value="Submit"><br>
            </div>
        </form>
    </div>
    </body>
</html>