* {
    margin: 0; 
    padding: 0;
    list-style: none;
}

.family {
    text-align: center;
}

.familyList ul li{
    margin-top: 4%;
    line-height: 50px;
    background-color: #ffecc7;
    border: 1px solid #fac551;
}

.familyList ul li p:nth-child(even) {
    margin-left: 60%;
}

.familyList ul li p:nth-child(odd) {
    margin-left: 10%;
    float:left;
} 

input{
    width: 60%;
    height: 25px;
}

.editButton{
    margin-top: 5%;
    width: 60px;
    height: 40px;
    background-color: #4daff9;
    border: 1px solid #008cff;
    border-radius: 20%;
}

.editButton:hover {
    font-weight: bolder;
 } 

.editButton:active{
    width: 60px;
    height: 39px;
    /* top: 1px; */
}
