<!-- web page for user to edit personal detail -->

<div>
    <div>
        <ul>
            <li>
                Name: 
                <input type="text" id="username" [(ngModel)]="userInfo.name"> 
                <button class="changeButton">edit</button>
            </li>
            <li>
                Current Password: <input type="password" id="password" >
                New Password: <input type="password" name=""id="password">
                confirm Pass: <input type="password" name=""id="password">
                <button class="changeButton">edit</button>  
            </li>
            <!-- <li>
                New Password: 
                <input type="password" name=""id="password">
                <button class="changeButton">edit</button>
            </li>
            <li>
                Security Passcode: 
                <input type="password" name=""id="password">
                <button class="changeButton">edit</button>
            </li> -->
            <li>
                Email Address：
                <input type="email" id="email" [(ngModel)]="userInfo.email">
                <button class="changeButton">edit</button>
            </li>
        </ul>
    </div>
    
</div>
    