<div class="content">
	<div class="topContent">
		<button mat-button class="homeButton" [routerLink]="['/home']">Home</button>
		<button mat-button class="accountButton" [routerLink]="['']">My Account</button>
	</div>

	<div class="sideContent">
			<mat-form-field class="search">
				<input matInput placeholder="Enter search terms seperated by commas" type="search" [(ngModel)]="searchText" (keyup)="search(searchText)">
			</mat-form-field>
		<div class="filter">
			<div *ngFor="let category of categories" class="cat">
				<mat-checkbox (click)="includeFilter(category)">{{category.name}}</mat-checkbox>
				<br>
			</div>
		</div>
	</div>

	<div class="artifactContent">
		<mat-grid-list cols="6" gutterSize="5px">
			<mat-grid-tile *ngFor="let artifact of filteredArtifacts" class="artifactTile">
				<button mat-button class="artifactButton" (click)="openArtifact(artifact)">
					<img class="image" src="{{artifact.primaryImage}}">
					<br>
					{{artifact.name}}
				</button>
			</mat-grid-tile>
			<mat-grid-tile class="addArtifactTile">
				<button mat-button class="artifactButton" (click)="openCreate()">Add Artifact</button>
			</mat-grid-tile>
		</mat-grid-list>
	</div>
</div>
