.mainContent {
    margin-left: auto;
    margin-right: auto;
}

.image {
    display: inline-block;
    height: 50vh;
    width: 45vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.buttons {
    width: 100%;
}

.imageButton {
    width: 50%;
}


.info {
    margin: 5%;
    padding: 5%;
    border-radius: 10px;
    background-color: #FFFFFF
}

.placeholder {
    height: 10vh;
    width: 100%;
    background: #dbd0ba;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}