<h1>Artifact Form</h1>

<form [formGroup]="artifactForm">
    <app-edit-title [artifactForm]="artifactForm"></app-edit-title>
    <app-edit-description [artifactForm]="artifactForm"></app-edit-description>
    <br>
    <app-edit-acquisition-date [artifactForm]="artifactForm"></app-edit-acquisition-date>
    <br>
    <br>
    <app-edit-location [artifactForm]="artifactForm"></app-edit-location>
</form>
<br>
<div class="submit">
    <input type="submit" (click)="onSubmit()" value="Submit Changes">
</div>
<br>
<br>
<br>