<button mat-button class="backButton" (click)="closeThis()">Cancel</button>
<div class="createContent">
    <h1>Artifact Form</h1>
    <div>
        <app-title></app-title>
    </div>
    <div>
        <app-upload-files></app-upload-files>
    </div>
    <div>
        <app-description></app-description>
    </div>

    <div>
        <app-catagory></app-catagory>
    </div>
    <div>
        <app-acquisition-date></app-acquisition-date>
    </div>
    <div class="submit">
        <input type="submit">
    </div>
</div>