
<mat-card>
    Sign In
    <mat-divider></mat-divider>
    <div class="loginContainer">
        <mat-form-field>
            <input matInput placeholder="Email Address" [(ngModel)]="email" type="email">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Password" [(ngModel)]="password" type="password">
        </mat-form-field>
    </div>
    <button mat-button (click)="login()">Log in</button>
    <br>
    <a>Forgot your password?</a>
    <mat-divider></mat-divider>
    <br>
    <button mat-button>Sign up</button>
</mat-card>