<button mat-button class="backButton" (click)="closeThis()">Back</button>
<div class="mainContent">
    <img class="image" src={{artifact.imgURL}}>
    <div class="info">
        <div class="text">
            {{artifact.information}}
        </div>
        <br>
        <div class="people">
            Associated People
            <br>
            <div *ngFor="let person of people">
                {{person.firstName}} {{person.lastName}}
            </div>
            <br>
        </div>
        <div class="dates">
            Associated Dates
            <br>
            <div *ngFor="let date of artifact.dates">
                {{date}}
            </div>
        </div>
    </div>
</div>