<mat-grid-list cols="3" gutterSize="5px" rowHeight="19vh">
    <mat-grid-tile [rowspan]="4">
        <button mat-button class="viewButton" [routerLink]="['/list']">
            View My Artifacts
        </button>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="4">
        <button mat-button class="familyButton" [routerLink]="['/familyMemberList']">
            Edit My Family
        </button>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="4">
        <button mat-button class="accountButton" [routerLink]="['/personalDetail/5da1cd63d2839401a010632b']">
            Edit My Account
        </button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3">
        <button mat-button class="logoutButton" [routerLink]="['']">
            Log Out
        </button>
    </mat-grid-tile>
</mat-grid-list>