* {
    margin: 0; 
    padding: 0;
    list-style: none;
    text-align: center;
}
.homeButton {
    float: left;
    height: 70px;
    width: 70px;
    border-right: 1px solid #000000;
}

.backButton {
    float: right;
    height: 70px;
    width: 70px;
    border-left: 1px solid #000000;
}

h1 {
    height: 70px;
    line-height: 70px;
    background-color: #D5E8D4;
    border: 1px solid #000000;
}

.familyList ul li{
    margin-top: 4%;
    height: 7vh;
    line-height: 7vh;
    background-color: #FFECC7;
    border: 1px solid #FAC551;
}

.familyList ul li p{
    float: left;
    width: calc((100% - 7vh - 2px)/ 3);
}

input{
    width: 50%;
    height: 25px;
}

.editButton{
    margin-right: 20px;
    width: 7vh;
    height: 6vh;
    background-color: #4DAFF9;
    border: 1px solid #008CFF;
    border-radius: 20%;
}

.delateButton{
    width: 7vh;
    height: 6vh;
    background-color: #FF9999;
    border: 1px solid #FF3333;
    border-radius: 20%;
}

.addButton{
    width: 7vh;
    height: 6vh;
    background-color: #4DAFF9;
    border: 1px solid #008CFF;
    border-radius: 20%;
}

.editButton:hover {
    font-weight: bolder;
} 

.delateButton:hover {
    font-weight: bolder;
} 
.addButton:hover {
    font-weight: bolder;
} 

.addFamily{
    margin-top: 4%;
    height: 7vh;
    line-height: 7vh;
    background-color: #FFECC7;
    border: 1px solid #FAC551;
}

.addFamily p {
    float: left;
    width: calc((100%)/ 3);
}