<!-- Web page for user to change the edit details of family members -->
<h1>
    <button mat-button class="homeButton" [routerLink]="['']">Home</button>
    Family Members Detail
    <button mat-button class="backButton" [routerLink]="['/familyMemberList']">Back</button>
</h1>

<div class="family">
    <div class="familyList">
        <ul *ngFor="let member of family">
            <li>
                <p>Name: <input type="text" id="familyMember" [(ngModel)]="member.name"></p>
                <p>Birthday: <input type="date" id="birthday" [(ngModel)]="member.bday"></p>
                <button class="editButton" (click)="updateFamily(member._id, member.name, member.bday)">Edit</button>
                <button class="delateButton" (click)="delateFamily(member._id)">Delete</button>
            </li>
        </ul>
    </div>
</div>

<div class = "addFamily">
    <form [formGroup] ="createForm">
        <p>Name: <input placeholder="Family member name" formControlName="name" #name>  </p>
        <p>Birthday: <input type="date" placeholder="Family birthday" formControlName="bday" #bday >  </p>
        <button class="addButton" type="add" (click)="addFamily(name.value, bday.value)" [disabled]="createForm.pristine || createForm.invalid" >Add</button>
    </form>
</div>