<h1>Artifact Form</h1>

<form [formGroup]="artifactForm">
    <app-title [artifactForm]="artifactForm"></app-title>
    <app-upload-files (fileEvent) = "getImages($event)" [nfiles] = "uploadFiles"></app-upload-files>
    <app-description [artifactForm]="artifactForm"></app-description>
    <app-catagory [catagoryOption]="cata" (categoryEvent)="getCategories($event)" ></app-catagory>
    <app-acquisition-date [artifactForm]="artifactForm"></app-acquisition-date>
    <app-location [artifactForm]="artifactForm"></app-location>
</form>
<div class="submit">
    <input type="submit" (click)="onSubmit()">
</div>