* {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000;
    list-style: none;
}

h1 {
    top: 20px;
    height: 70px;
    line-height: 70px;
    background-color: #D5E8D4;
    border: 1px solid #000;
}

.homeButton {
    float: left;
    height: 70px;
    width: 70px;
    border-right: 1px solid #000;
} 

.tab_header ul li{
    float: left;
    line-height: 50px;
    width: calc((100% - 3px) / 2);
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}

.tab_header ul li.selected{
    font-weight: bolder;
    background-color: #ffecc7;
}

.tab_header ul li:last-child {
    border-right: 1px solid #000;
}

.tab_header ul li:hover {
    font-weight: bolder;
    color: #000;
} 

.tab_content {
    position: relative;
    margin-top: 4%;
}

.tab_content {
    position: relative;
    margin-top: 8%;
}