div.fileDrop {  
  height: 400px;
  width: 460px;
  border: lightblue dashed 3px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  text-align: center;
  margin-top: 20px;
}

img{
  width: 100px;
  height: 100px;
  vertical-align: middle;
  text-align: end;
  margin: 3px;
}