<mat-grid-list cols="6" rowHeight="1:1">
  <mat-grid-tile colspan="2" rowspan="2">
    <button mat-button [routerLink]="['/collection']">Artifacts</button>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="2">
    <button mat-button>Family</button>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="2">
    <button mat-button>Requests</button>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <button mat-button>Settings</button>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <button mat-button [routerLink]="['']">Log Out</button>
  </mat-grid-tile>
</mat-grid-list>
